# Node dependencies
node_modules/
Backend/node_modules/
client/node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Uploads
uploads/
hash_password.js
reset_admin.js

reset_admin.js
